<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDERR8r0XJXYXBsf4-lF-t81MTrz-99jaA</string>
	<key>GCM_SENDER_ID</key>
	<string>185052862302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thinkNinjaTest.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>think-ninjas-a61bb</string>
	<key>STORAGE_BUCKET</key>
	<string>think-ninjas-a61bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185052862302:ios:21495351db433c8b6fa1cf</string>
</dict>
</plist>